In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Metro_Interstate_Traffic_Volume.csv to Metro_Interstate_Traffic_Volume.csv

Cloning into 'machine_learning_regression'...
fatal: could not read Username for 'https://projects.cs.nott.ac.uk': No such device or address

In [ ]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Metro_Interstate_Traffic_Volume.csv']))
df = df2.dropna()
print(df.shape)
df.head()
# Dataset is now stored in a Pandas Dataframe

(48204, 9)

  holiday    temp  ...            date_time  traffic_volume
0    None  288.28  ...  2012-10-02 09:00:00            5545
1    None  289.36  ...  2012-10-02 10:00:00            4516
2    None  289.58  ...  2012-10-02 11:00:00            4767
3    None  290.13  ...  2012-10-02 12:00:00            5026
4    None  291.14  ...  2012-10-02 13:00:00            4918

[5 rows x 9 columns]

In [ ]:
import pandas as pd
import math
import numpy as np
from sklearn import preprocessing, model_selection, svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split



##df2 = df2.set_index('date_time')

print(df2)

      holiday    temp  ...            date_time  traffic_volume
0        None  288.28  ...  2012-10-02 09:00:00            5545
1        None  289.36  ...  2012-10-02 10:00:00            4516
2        None  289.58  ...  2012-10-02 11:00:00            4767
3        None  290.13  ...  2012-10-02 12:00:00            5026
4        None  291.14  ...  2012-10-02 13:00:00            4918
...       ...     ...  ...                  ...             ...
48199    None  283.45  ...  2018-09-30 19:00:00            3543
48200    None  282.76  ...  2018-09-30 20:00:00            2781
48201    None  282.73  ...  2018-09-30 21:00:00            2159
48202    None  282.09  ...  2018-09-30 22:00:00            1450
48203    None  282.12  ...  2018-09-30 23:00:00             954

[48204 rows x 9 columns]

In [ ]:
xvars = ["temp", "rain_1h", "snow_1h", "clouds_all"]  # taking the variables that we want to keep as our predictor variables, and putting them into a NumPy Array

X = df.loc[:, xvars].values   # get X values (i.e. predictors/features) # casting our predictors into a NumPy array
y = df.loc[:, "traffic_volume"].values  # get y values (i.e., outcome/target variable)

In [ ]:
# Split traning/test data at random

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0) # the '0' is setting the seed; a way to "fix" the randomization process
len(X_train)
len(X)

48204

In [ ]:
mod = LinearRegression()      # create model object
mod.fit(X_train, y_train)     # fitting the model to the "train" data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
print(mod.coef_)     # show regression coefficients; the numbers are just the "beta" values

[2.03771422e+01 1.41759285e-01 6.18593670e+02 3.89941368e+00]

In [ ]:
# Use our fitted model to make predictions using test set

y_pred = mod.predict(X_test)

In [ ]:
# print our metrics of model adequacy

from sklearn import metrics
import numpy as np

print("Mean Absolute Error: ", metrics.mean_absolute_error(y_test, y_pred))
print("Mean Squared Error: ", metrics.mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: ", np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print("R-Squared Value: ", metrics.explained_variance_score(y_test, y_pred))

Mean Absolute Error:  1701.0237286830916
Mean Squared Error:  3799938.6620990513
Root Mean Squared Error:  1949.3431360586703
R-Squared Value:  0.02834348685617749